<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express Movies-Recs</title>
</head>
<body>
  <h1>Movies as of <%= date %> </h1>
  <ul>
    <% movies.forEach(movie => { %>
    <li>
      <a href="/movies/<%= movie._id %>"><%= movie.name%></a>
      * *
      <%= movie.genre  %>
      ---
      <%= movie.done ? 'watched' : 'not watched' %>
    </li>
    <% }) %>
  </ul>
  <a href="/movies/new">Add A Movie</a>
</body>
</html>